.contenedor{
    width: 100%;
    height: 180vh;
    background: linear-gradient(0deg,
    rgba(97,166,251,1) 0%,
    rgba(95,220,228,1) 100%
    );
    display: flex;
    justify-content: center;
    align-items:center;
}

.contenedor .back-arrow{
    position: absolute;
    width: 7vw;
    height: 7vw;
    left: 5%;
    top: 5%;
    background: #42b6e7;
    border-radius: 50%;
    cursor: pointer;
}

.contenedor .back-arrow img{
width: 100%;

}
.contenedorBuscador{
    width: 70%;
    height: 130vh;
    background: #FFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

h2{
    font-size: 35px;
    letter-spacing: 2px;
}

.inputBuscador{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
    position: relative;
    display: flex;
    justify-content: center;
}

.inputBuscador > input{
    font-size: 25px;
    width: 35%;
    height: 70px;
    float: left;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 26px 16px
     rgba(177,171,177,0.3)
}

.contenedorBuscador .texto{
    position: absolute;
    top:80%;
    font-size: 40px;
}
    
.inputBuscador > span {
    display: block;
    float: left;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    left: 50%;
    z-index: 3;
    transform: translate(-50%, -5px);
    background: #31feae;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputBuscador > span > img{
    width: 50%
}
