
  

        <div class="contenedor">
            <div class="circulo">
                <div class="detalles">
                    <div class="temperatura">
                        <div class="columnaDatos">
                            <div>
                                <p>37</p>
                                <span>Clear</span>
                            </div>
        
                            <div>
                                <span>
                                    <p>Humidity</p>
                                     <p>44%</p>
                                </span>
                                <span>
                                    <p>Wind</p>
                                    <p>2 k/m</p>
                                </span>
                            </div>
                        </div>
        
                        <div class="columnaNombre">
                            <h3>Aguascalientes</h3>
                        </div>
                    </div>
                    <div class="climaPronosticado"></div>
<!-- 
                    <div class="Zntwitter">
                        <h6>Twitter Feed</h6>
                        <ul>
                            <li>FRI</li>
                            <li>MON</li>
                            <li>SAT</li>
                            <li>SUN</li>
                            <li>TUE</li>
                        </ul>
                    </div> -->
                    
                </div>
                
               
          
            </div>
        </div>

    


