<div class="tarjeta">
    <p class="titulo">{{climaFiltradoRecibido.NombreCiudad}}</p>
    <img
    [src]="climaFiltradoRecibido.Imagen | construirUrlImagen"/>
    <!-- http://openweathermap.org/img/wn/10d@2x.png -->
    <div class="climaActual"> 
        <p>{{climaFiltradoRecibido.TemperaturaActual | kelvinCelsius}}</p>
        <p>{{climaFiltradoRecibido.ClimaActual}}</p>
    </div>

    <div class="temperaturasEsperadas">

        <div class="temperaturaMinima">
            <p>{{climaFiltradoRecibido.TemperaturaMinima |kelvinCelsius}}</p>
            <p class="textoTemperatura1">Min</p>
        </div>

        <div class="temperaturaMaxima">
            <p>{{climaFiltradoRecibido.TemperaturaMaxima | kelvinCelsius}}</p>
            <p class="textoTemperatura2">Max</p>
        </div>
    </div>
    <button (click)="AgregarCiudad()">
        ADD CITY
    </button>
</div>