<div class="contenedor">
    <h5>MEXICO CITY</h5>
    <img src="./../../../assets/IMG/cloudy.PNG" alt="">
    <div class="climaActual"> 
        <p>16</p>
        <p>CLOUDS</p>
    </div>

    <div class="temperaturasEsperadas">

        <div class="temperaturaMinima">
            <p>19</p>
            <p class="textoTemperatura1">Min</p>
        </div>

        <div class="temperaturaMaxima">
            <p>23</p>
            <p class="textoTemperatura2">Max</p>
        </div>
    </div>
    <button>
        ADD CITY
    </button>
</div>